{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes.addClass(color) }}>
  <head>
    <script src="/sites/allize/ressources/tarteaucitron/tarteaucitron.js"></script>

    <script type="text/javascript">
        tarteaucitron.init({
            "hashtag": "#tarteaucitron",
            "highPrivacy": false,
            "orientation": "bottom",
            "adblocker": false,
            "showAlertSmall": false,
            "cookieslist": false,
            "removeCredit": false,
            "handleBrowserDNTRequest": false
        });
    </script>

    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    {% if no_index == 'yes' %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
  </head>
  <body{{ attributes.addClass('user-logged-in-' ~ logged_in).addClass('path-' ~ root_path) }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token|raw }}">

    <script type="text/javascript">
        tarteaucitron.user.googlemapsKey = 'AIzaSyBUp7G6YMerXc1yqfRpH-jN7F6cG3RDxdk';
        (tarteaucitron.job = tarteaucitron.job || []).push('googlemaps');
    </script>

    <script type="text/javascript">
        tarteaucitron.user.googletagmanagerId = 'GTM-MQ2SSLX';
        (tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
    </script>

    <script type="text/javascript">
        tarteaucitron.user.gajsUa = 'GTM-MQ2SSLX';
        tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
    </script>
  </body>
</html>
